<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="BooK">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="yandex-verification" content="03853d6d2463fc94"/>
  <title>Title</title>
  <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/moduleApp.js"></script>
  <script type="text/javascript" src="js/ControllerFerst.js"></script>
  <script type="text/javascript" src="js/messenf.js"></script>
  <script type="text/javascript" src="js/QuestionController.js"></script>
  <script type="text/javascript" src="js/productService.js"></script>
</head>
<body>
<div ng-controller="QuestionControll">
  <div>teste={{teste}}</div>
  <button ng-click="load1()">Загрузить</button>
  <div class="content" ng-show="loaded">
    <div class="quest">
      <h3>{{question.text}}</h3>
      <p>{{question.author}} </p>
      <p><i>{{question.date}}</i></p>
    </div>
    <h3>Ответы</h3>
    <div class="answers">
      <div ng-repeat="answer in question.answers | orderBy:sortparam" class="answer">
        <div class="vote">
          <a class="vote-up" ng-click="voteUp(answer)"></a>
          <span class="rate">{{answer.rate}}</span>
          <a class="vote-down" ng-click="voteDown(answer)"></a>
        </div>
        <b>{{answer.text}}</b>
        <p>{{answer.author}}</p>
        <p><i>{{answer.date}}</i></p>
      </div>
    </div>
  </div>
  <div>{{xs}}</div>
</div>
</body>
</html>